{% extends 'base.html' %}
{% load static staticfiles %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h1 class="panel-title panel-title-slim">Actions</h1>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Action</th>
        <th>Created By</th>
        <th>Created At</th>
      </tr>
    </thead>

    <tbody>
      {% for action in object_list %}
      <tr data-toggle="modal" data-target="#action-detail-modal" data-location="#action-data-{{ action.id }}">
        <th class="hidden">
          <div id="action-data-{{ action.id }}">
            {% include 'actions/action_detail_block.html' %}
          </div>
        </th>
        <th scope="row">{{ action.id }}</th>
        <td>
          <a class="action-link" href="{% url 'actions:detail' pk=action.id %}">{{ action.title }}</a>
        </td>
        <td>{{ action.created_by }}</td>
        <td>{{ action.created_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="panel-footer">
  </div>

</div>

<div class="modal fade" id="action-detail-modal" tabindex="-1" role="action-detail" aria-labelledby="action-detail-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="action-detail-modal-label">Action Details</h4>
      </div>

      <div class="modal-body">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

{% endblock content %}

{% block extra_js %}
<script>
(function(){
  var actionModal = $('#action-detail-modal');
  var actionLinks = $('.action-link');

  actionLinks.on('click', function (event) {
    event.stopPropagation();
  });

  actionModal.on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var action = $(button.data('location'));
    var modal = $(this);
    var modalBody = modal.find('.modal-body');
    modalBody.empty().append(action.html());
  });

})();
</script>
{% endblock extra_js %}
