
html, body{
  width: 100%;
  height:100%;
}

.large-text {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.4;
}

.slim {
  margin-top: 0px;
  margin-bottom: 0px;
}

.thin {
  margin-left: 0px;
  margin-right: 0px;
}

.crit-fail {
  width: 160px;
  height: 185px;
  overflow: hidden;
}
.crit-fail > img {
  margin-top: -35px;
  margin-left: -40px;
}

.panel-title-slim {
  margin-top: 0px;
  margin-bottom: 0px;
}

.page-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-top: 1px solid #eee;
}

.container-main {
  padding-top: 100px;
}

.alert-messages {
  margin-top: 70px;
  margin-bottom: -70px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1em;
}
.navbar-brand > img {
  float: left;
  margin-right: 10px;
}

.dashboard-tabs {
  padding: 10px;
}

.landing-image {
  width: 100%;
  max-width: 636px;
}

.form-login .form-group > div > input {
  width: auto;
}

a.dropdown-toggle.profile-menu {
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  vertical-align: middle;
  line-height: 50px;
}
img.user-gravatar {
  height: 50px;
  vertical-align: top;
}

.github-link > i {
  max-height: 20px;
}

.div-table > div.row {
  padding-left: 8px;
  padding-right: 8px;
}
.div-table > div.row:not(:first-child) {
  border-top: 1px solid #ddd;
}
.div-table > div.row > div {
  padding: 8px;
}
.div-table > div.row > div:not(:first-child) {
  border-left: 1px dotted #ddd;
}
.div-table-hover > div.row:hover {
  background: #f5f5f5;
}

.table-striped div.row:nth-of-type(odd) {
  background: #e0e0e0;
}
.table-striped div.row:nth-of-type(even) {
  background: #FFFFFF;
}
