{% extends 'base.html' %}
{% load static staticfiles %}

{% block content %}

<div class="panel panel-default">

  <div class="panel-heading">
    <h1 class="panel-title panel-title-slim">Actions</h1>
  </div>

  <div class="panel-body text-center">
    <a href="{% url 'actions:list' %}" class="btn btn-default">View All Actions</a>
    <a class="btn btn-default{% if not user.is_staff %} disabled{% endif %}" href="{% url 'actions:assign' %}"{% if not user.is_staff %} disabled="disabled"{% endif %}>
      <span class="glyphicon glyphicon-share"></span>&nbsp;&nbsp;Assign An Action
    </a>
    <a href="{% url 'actions:create' %}" class="btn btn-success">
      <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add An Action
    </a>
  </div>

  <div class="panel-body">

    <ul class="nav nav-pills dashboard-tabs">
      <li role="presentation" class="active">
        <a data-toggle="tab" href="#my-actions">Actions This Month</a>
      </li>
      <li role="presentation">
        <a data-toggle="tab" href="#month-actions">My Actions This Month</a>
      </li>
    </ul>

  </div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="month-actions">
      {% with panel_title='Actions This Month' object_list=month_actions %}
      {% include 'actions/actions_table.html' %}
      {% endwith %}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="my-actions">
      {% with panel_title='My Actions' object_list=my_actions %}
      {% include 'actions/actions_table.html' %}
      {% endwith %}
    </div>
  </div>

  <div class="panel-footer">
  </div>

</div>


<div class="modal fade" id="action-detail-modal" tabindex="-1" role="action-detail" aria-labelledby="action-detail-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="action-detail-modal-label">Action Details</h4>
      </div>

      <div class="modal-body">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

{% endblock content %}

{% block extra_js %}
<script>
(function(){
  var actionModal = $('#action-detail-modal');
  var actionLinks = $('.action-link');

  actionLinks.on('click', function (event) {
    event.stopPropagation();
  });

  actionModal.on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var action = $(button.data('location'));
    var modal = $(this);
    var modalBody = modal.find('.modal-body');
    modalBody.empty().append(action.html());
  });

})();
</script>
{% endblock extra_js %}
